.hero{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/3616956/pexels-photo-3616956.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
div.hero::after{
    content: "Le catering";
    position: absolute;
    bottom: 0px;
    font-size: 28px;
    color: #fff;
    left: 20px;
}